.searchbar-container {
  min-width: 200px;
  width: 260px;
  margin: 0 auto;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  margin: 0;
  .input-group {
    border: 1px solid #a59999 !important;
  }
  .form-group {
    margin: 0;
  }
}

.input-group {
  background-color: #fff !important;
}

.test {
  .input-group {
    border: none !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
}
