.loading-modal {
    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        margin-top: 40%;
    }
}